.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    
}

.logo {
    position: fixed;
    left: 20px;
    width: 80px;
    cursor: pointer;
}

.avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    cursor: pointer;
}

.home {
    position: fixed;
    left: 180px;
    width: 80px;
    color: rgb(173, 175, 175);
    cursor: pointer;
}

.shows {
    position: fixed;
    left: 250px;
    width: 80px;
    color: rgb(173, 175, 175);
    cursor: pointer;
}

.movies {
    position: fixed;
    left: 350px;
    width: 80px;
    color: rgb(173, 175, 175);
    cursor: pointer;
}

.recent {
    position: fixed;
    left: 430px;
    width: 180px;
    color: rgb(173, 175, 175);
    cursor: pointer;
}

.list {
    position: fixed;
    left: 570px;
    width: 80px;
    color: rgb(173, 175, 175);
    cursor: pointer;
}

.dvd {
    position: fixed;
    right: 30px;
    width: 80px;
    color: rgb(173, 175, 175);
    cursor: pointer;
}

.kids {
    position: fixed;
    right: 80px;
    width: 80px;
    color: rgb(173, 175, 175);
    cursor: pointer;
}